.footer-container {
  display: flex;
  background-color: rgb(230, 237, 230);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px;
  margin-left: 37vh;
}

.footer-container > a {
  text-decoration: none;
  color: black;
}

@media (max-width: 760px) {
  .footer-container {
    margin-left: 0;
  }
}
