.footer-container {
  display: flex;
  background-color: rgb(230, 237, 230);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 40px;
  margin: 40px 0px 0px 0px;
}

.footer-container > a {
  text-decoration: none;
  color: black;
}
