.footer-container {
  display: flex;
  background-color: var(--primary-color);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px;
  margin-left: 37vh;
}

.footer-container > a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 720px) {
  .footer-container {
    display: flex;
    margin-left: 0;
    gap: 1em;
  }
}
