.header-container {
  display: grid;
  background-color: rgb(230, 237, 230);
  margin-left: 37vh;
}

.kitchen-section {
  align-items: center;
  justify-items: center;
}

.kitchen {
  width: 100%;
  height: auto;
}

.presentation {
  padding: 2em 4em;
  text-align: center;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(244, 246, 248, 0.941);
}

.logo {
  height: 200px;
  width: 200px;
}

@media (max-width: 760px) {
  .header-container {
    margin-left: 0;
  }
}
