.header-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(237, 237, 237, 1);
}
#home-container {
  position: relative; /* Définit le conteneur comme référence */
  width: 100%;
}
#home {
  width: 100%;
  height: auto;
}
#left-flower {
  width: 35vw;
  height: auto;
  position: absolute;
  top: 88%;
  left: -4%;
  visibility: hidden;
}

#right-flower {
  width: 20vw;
  height: auto;
  position: absolute;
  top: 100%;
  right: -2%;
  rotate: 151.48deg;
  visibility: hidden;
}
.presentation {
  margin-top: 10vh;
  margin-bottom: 20vh;
  padding-left: 20vw;
  padding-right: 20vw;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
}

#logo {
  height: auto;
  width: auto;
  position: absolute;
  top: 146%;
  left: 35%;
  visibility: hidden;
}

@media screen and (max-width: 720px) {
  #logo {
    height: auto;
    width: auto;
    position: absolute;
    top: 114%;
    left: 25%;
    visibility: visible;
  }
  .presentation {
    margin-top: 25vh;
    margin-bottom: 20vh;
    padding-left: 20vw;
    padding-right: 20vw;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
  }
  #left-flower {
    visibility: visible;
  }
  #right-flower {
    visibility: visible;
  }
  .header-container {
    background-color: rgba(209, 240, 225, 0.7);
  }
}
