.header-container {
  display: grid;
  background-color: var(--primary-color);
  margin-left: 37vh;
}

.kitchen-section {
  align-items: center;
  justify-items: center;
}

.kitchen {
  width: 100%;
  height: auto;
}

.presentation {
  margin: 32px;
  text-align: center;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-version);
}

.logo {
  height: 200px;
  width: 200px;
}

@media (max-width: 760px) {
  .header-container {
    margin-left: 0;
  }
}
