* {
  box-sizing: border-box;
  margin: 0;
}
div {
  display: flex;
  flex-direction: column;
  background-color: rgba(209, 240, 225, 0.7);
}

#home {
  height: auto;
  width: 100%;
}

.Flower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#left-flower {
  width: 60vh;
  height: 40vh;
  position: absolute;
  top: 123%;
  margin-left: 0;
}

#right-flower {
  width: 800px;
  height: 500px;
}

#logo {
  height: 1300px;
  position: relative;
  top: 50%;
  left: 1900px;
}

p {
  position: absolute;
  top: 130%;
  left: 100vh;
  width: 60vh;
  font-size: 450%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
