.main-home {
  display: grid;
  background-color: var(--light-version);
  grid-template-rows: 1fr;
  margin-left: 37vh;
}

.recipe-list {
  justify-content: center;
  grid-column: 1 / span 2;
}

@media (max-width: 760px) {
  .main-home {
    margin-left: 0;
  }
}
