.overlay-background {
  position: fixed;
  top: -3vh;
  left: -3vw;
  width: 110vw;
  height: 110vh;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  z-index: 2;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.overlay-background.active {
  opacity: 1;
  pointer-events: all;
}

.box-container {
  display: flex;
  position: fixed;
  justify-content: center;
  flex-direction: column;
  top: 4%;
  left: 0;
  z-index: 3;
  background-color: var(--primary-color);
  filter: drop-shadow(-2mm -2mm 3mm #657267);
  width: 30vw;
  margin-left: 35%;
  border-radius: 8px;
  transition: opacity 0.3s ease;
  height: 90vh;
  min-width: 375px;
  min-height: 450px;
  overflow: auto;
}
.open-filter-img {
  width: 2vw;
  height: auto;
}
.open-filter-button {
  right: 1%;
  top: 3%;
  border-radius: 8px;
  background-color: var(--primary-color);
  cursor: pointer;
  position: fixed;
  opacity: 1;
  height: 6vh;
  width: auto;
}

.close-button {
  width: 2vw;
  height: 5vh;
  background-color: transparent;
  margin-left: 27vw;
  margin-top: 1.4vh;
  border-radius: 40%;
  border-color: #029999;
  cursor: pointer;
}

.text-style {
  margin: 1rem 0rem 1rem 2rem;
}

.text-style-center {
  text-align: center;
}

.choice-list-selection {
  margin: 1rem 0 1.5rem 1rem;
}

.diet-filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;
  margin: 0.7rem 0rem 1rem -1.4rem;
}

.diet-filter {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.checkbox-cursor {
  cursor: pointer;
}

.prettier-box-form {
  border-radius: 8px;
  width: 28vw;
  height: 8vh;
  margin: 0.4rem 0rem 0.3rem 0.8rem;
  min-width: 350px;
}

.selected {
  background-color: var(--light-version);
  cursor: pointer;
}
.autocomplete-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  background-color: var(--light-version);
}

.autocomplete-item {
  padding: 8px;
  cursor: pointer;
}

.autocomplete-item:hover,
.autocomplete-item.active {
  background-color: #f0f0f0;
}
.bot-button-containner {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 3rem;
}

.bot-button {
  width: 10em;
  height: 2.5em;
  border: none;
  border-radius: 8px;
  background-color: var(--button-color);
  color: var(--light-version);
  cursor: pointer;
  margin: 19px;
}

@media screen and (max-width: 720px) {
  .open-filter-button {
    display: flex;
    align-items: center;
    width: 6%;
    right: 3%;
    border: none;
  }

  .open-filter-img {
    width: 100%;
  }

  .box-container {
    margin: 0;
    left: 8em;
    width: 40%;
    align-items: center;
    gap: 1em;
    justify-content: space-around;
    padding: 0.5em;
  }

  .box-container div:nth-of-type(n + 2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.5em;
  }

  .prettier-box-form {
    margin: 0;
    height: 3em;
    width: 90%;
  }

  .text-style {
    margin: 0;
  }

  .bot-button-containner {
    gap: 0.75em;
  }

  .bot-button {
    margin: 0;
  }

  .diet-filter-container {
    margin: 0;
    flex-direction: row;
  }
}
