.visible {
  display: none;
}

.main-recipe {
  display: flex;
  justify-content: space-between;
}

.aside-recipe {
  width: 50vw;
  height: 100vh;
  position: fixed;
}

.aside-recipe img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 10em 0 0;
}

.detail-recipe {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  gap: 3em;
  right: 0;
  position: absolute;
}

.return-arrow {
  font-size: 2em;
  color: #ffcc00;
  margin: 0.2em;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  position: fixed;
  left: 22em;
  z-index: 4;
}

.ingredients,
.preparation,
.header-recipe {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header-recipe {
  gap: 4em;
}

.header-recipe h1 {
  text-align: center;
  font-size: 1.5em;
}

.add-list-button {
  width: 10em;
  height: 2.5em;
  border: none;
  border-radius: 8px;
  background-color: #ffcc00;
  color: white;
  cursor: pointer;
}

.ingredients article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.5em;
}

.ingredients figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 9%;
  margin: 0;
}

.ingredients article img {
  height: 70%;
  width: 100%;
  object-fit: contain;
}

.ingredients figcaption {
  text-align: center;
}

.preparation ul {
  list-style: none;
  padding: 0;
}

.preparation li p:first-child {
  font-weight: bold;
}

@media screen and (max-width: 720px) {
  .header-container,
  .footer-container {
    display: block;
  }

  .main-recipe {
    flex-direction: column;
    padding: 0;
  }

  .aside-recipe {
    width: auto;
    display: flex;
    justify-content: center;
    padding: 3em;
    position: relative;
    height: auto;
    flex-direction: row-reverse;
  }

  .return-arrow {
    left: 0;
  }

  .aside-recipe img {
    position: relative;
    width: 50%;
    height: 50%;
    border-radius: 0;
  }

  .detail-recipe {
    width: auto;
    position: relative;
    padding: 0;
  }

  .header-recipe {
    align-items: center;
    padding: 0;
  }

  .header-recipe > h1 {
    order: 0;
  }

  .header-recipe-info {
    display: flex;
    gap: 2em;
    background-color: #dbf4e0;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 7em;
    order: 2;
  }

  .header-recipe-buttons {
    order: 1;
  }

  .ingredients,
  .preparation {
    align-items: center;
    gap: 2em;
    padding: 2em;
  }

  .ingredients article {
    justify-content: center;
  }

  .preparation > ul {
    width: 100%;
  }
}
